* {
  padding-left: 0;
}

.postSelector {
  cursor: pointer;
}


.playerCard {
	position: absolute;
	background: #f5f5f5;
	border: 1px solid #63737d;
  z-index: 99;
  width: 300px;
  height: contain;
  font-size: 10px;
  border-radius: 8px;
  padding: 5px;
}

.playerCard:after, .playerCard:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.playerCard:after {
	border-color: rgba(250, 250, 250, 0);
	border-right-color: #fafafa;
	border-width: 7px;
	margin-top: -7px;
}
.playerCard:before {
	border-color: rgba(116, 131, 143, 0);
	border-right-color: #74838f;
	border-width: 10px;
	margin-top: -10px;
}

.draftBtn {
  display: inline-block;
  background-color: green;
  color: white;
  border-radius: 10px;
  height: 25px;
  width: 50px;
  font-size: 14px;
  padding: 2px;
}

.playerName {
  display: inline-block;
  margin-right: 40px;
}

.playerSelector {
  font-size: 13px;
  padding: 5px 10px;
  height: 30px;
}

.fa-file-alt {
  cursor: pointer;
}

.rostersDiv {
  position: fixed;
  width: 200px;
  border-left: 1px solid #80808054;
  right: 0;
  top: 0;
  z-index: 5;
  height: 100%;
  padding: 10px 14px;
  display: block;
  background-color: white;
}

.draftedPlayersList {
  position: fixed;
  width: 200px;
  border-right: 1px solid #80808054;
  left: 0;
  top: 0;
  z-index: 5;
  height: 100%;
  padding: 10px 14px;
  display: block;
  background-color: white;
}

.rosterPlayers {
  font-size: 12px;
  line-height: 9px;
}

.players {
  width: 400px;
  margin: auto;
}


.positionBtn {
  position: fixed;
  z-index: 99;
  background-color: white;
  width: 125px;
}

.fa-chevron-up, .fa-chevron-down {
  float: right;
  background-color: #b7b7b77a;
}

.dropdwnMenu {
  padding-left: 10px;
  width: 125px;
}

.rostersDiv {
  list-style: none;
}

.schedule {
  line-height: 3px;
}

.App {
  width: 100%;
  margin: auto;
}
